<!DOCTYPE html>
<html>
    <head>
        <title><%= defined?(title) ? title : 'Kudos Wallet' %></title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/style/style.css">
        <link rel="icon" href="/favicon.ico">
        
        <% if defined?(stylesheet) %>
            <link rel="stylesheet" href="<%= '/style/' if stylesheet =~ /.*?\.css$/ %><%= stylesheet %>.css">
        <% end %>
        
        <% (defined?(stylesheets) ? stylesheets : []).each do |name| %>
            <link rel="stylesheet" href="<%= '/style/' if name =~ /.*?\.css$/ %><%= name %>.css">
        <% end %>
    </head>
    <body>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="/scripts/prefixfree.min.js"></script>
        <script src="/scripts/util.js"></script>
        
        <% if defined?(javascript) %>
            <script src="<%= javascript %>"></script>
        <% end %>
        
        <% (defined?(javascripts) ? javascripts : []).each do |src| %>
            <script src="<%= src %>"></script>
        <% end %>
        
        <%= yield %>
    </body>
</html>