<% unless @user.verified %>
    <p>Your account is not verified!</p>
<% end %>

<p>Email: <%= @user.email %></p>
<p>Deposit Address: <%= @user.address %></p>

<p>Balance: <span id="balance-text"><%= @user.balance %></span></p>
<p>Unconfirmed Balance: <span id="unconfirmed-balance-text"><%= @user.unconfirmed_balance %></span></p>

<p>Transactions:</p>
<div id="transactions-list"></div>

<script>
    $(function() {
        $(window).on('new-balances', function(e, data) {
            $('#balance-text').html(parseFloat(data.balance));
            $('#unconfirmed-balance-text').html(parseFloat(data.unconfirmed_balance));
        
            $('#transactions-list').load('/transactions');
        });
        
        $('#transactions-list').load('/transactions');
    });
</script>