<form id="login-form" class="ajax-form" method="post" action="/user/login">
    <strong id="error"></strong>
    <br>
    <input type="email" name="user[email]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Login">
</form>

<script>
    $(function() {
        $('#login-form').ajaxForm({
            completed: function(response) {
                if (response.success) {
                    window.location = '/account';
                } else {
                    $('#error').html('You have entered an incorrect username or password');
                }
            }
        });
    });
</script>