<form id="signup-form" class="ajax-form" method="post" action="/user/signup">
    <ul id="errors-list"></ul>
    <input type="email" name="user[email]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Signup">
</form>

<script>
    $(function() {
        $('#signup-form').ajaxForm({
            completed: function(response) {
                if (response.success) {
                    window.location = '/account';
                } else {
                    var errorsList = $('#errors-list');
                    
                    errorsList.html('');
                    _.each(response.errors, function(errors, name) {
                        $('[name="user[{0}]"]'.format(name)).addClass('input-error');
                        
                        _.each(errors, function(error) {
                            errorsList.append('<li>{0}</li>'.format(error));
                        });
                    });
                }
            }
        });
    });
</script>