<h3>Thank you for registering at wallet.kudostools.org</h3>
<p>In order to complete your registration, please click <a href="http://wallet.kudostools.org/confirm/<%= confirm_code %>">here</a>, or visiting this url:</p>
<p>http://wallet.kudostools.org/confirm/<%= confirm_code %></p>